:root {
    --lina: black;
    --backback: #FFFFF9;
}

*{

    padding: 0;
    font-size: 110%;
    font-family:'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}


body {
    background: var(--backback);

}



p {
    color:var(--lina);
    height: 50px;
    text-align: center;
}
.titles {
    color: var(--lina);
    margin: 50px 30px 30px 50px;
    width:50%;
    text-align: center;
    border-radius: 50%;
    opacity: 0.3;
}

.titles:hover{
    background: aliceblue;
    opacity: 1;
}
#option {
    color: lightseagreen;
}

.header {
    height: auto;
    display: inline-block;
    margin-left: 20%;
    padding: 1%;
    position: sticky;
    border-width: 1px;
    text-align: center;
    vertical-align: center;
    border-bottom-style: solid;
    border-top-style:solid;
    border-color: var(--backback);
}

.header:hover {
    border-bottom-style: solid;
    border-top-style:solid;
    border-width: 1px;
    border-color: var(--lina);
}

.picture {
    height: 200px;

    align-items: center;



}

h1 {
    color:var(--lina);
    text-align: center;
    font-size: 200%;
}

.subtitles {
    text-align: left;
    background: lightseagreen;
    height: auto;
}


.about {
    display: flex;
    justify-content: center;
    background: lightseagreen;
}
.items {
    height: 300px;
    width: 300px;
    display: inline flex;
    background: gray;
    margin-left: 2%;
    margin-right: 2%;
    align-items: center;

}


